.contactbanner {
    display: flex;
    width: 90%;
    /*justify-content: center;*/
    font-size: 140%;
    background-color: #f2f2f2;
    border-radius: 2vw;
    overflow: hidden;
    font-size: calc(1.5vw + 1.5vh);
    justify-self: center;
    margin-top: 100px !important;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    gap: 50px;
    margin: 0;
}




.contacttext {
    display: flex;
    align-self: flex-start;
    width: 55%;
    margin-left: 5%;
    flex-direction: column;
    height: 100%;
    
}


.contactp {
    width: 80%; 
    display: flex;
    align-self: flex-start;
}

.contacth {
    display: flex;
    align-self: flex-start;
}



.contactbutton {
    background-color: #7DA1CF;
    border-radius: 2vw;
    display: flex;
    color: white;
    
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: solid 2px white;
    width: fit-content;
    justify-self: flex-start;
    margin-top:15%;
}

.contactbutton:hover {
    background-color: #496484;
}

.contactimg {
    width: auto;
    height: auto;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

.contactimg img {
    mix-blend-mode: multiply;
    width: 100%;
    height: auto;
}


.howtocont {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2vw;
    margin: auto;
    padding: 50px 0;
    gap: 30px;
}

.howto {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border-radius: 2vw;
    align-items: center;
    line-height: 200%;
    padding: 1%;
    height: 40vh;
    justify-content: center;
}

.howto p {
    display: inline-block;
    font-size: calc(1vw + 1vh);
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.howto h5 {
    display: inline;
    font-size: calc(1vw + 1vh);
    margin-top: 4%;
    margin-bottom: 2%;
}
.howicon {
    display: flex;
    height: 20%;
    width: auto;
}


.howto ul.fa-ul  {
    margin-left: 0;
}

.howto ul.fa-ul i {
    margin-right: 4px;
}




.howto a:hover {
    text-decoration: none !important;
    font-size: calc(1.2vw + 1.2vh);
    color: #7DA1CF;
}


.howto a {
    text-decoration: underline;
    text-decoration-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1095px) {
    .contactimg img {
        max-width: 100%;
        height: auto;
    }
    .contactimg {
        justify-self: flex-end;
        /*align-self: flex-end;*/
        margin-right: 0;
        padding-right: 0;
 
        flex-direction: row-reverse;
        margin-bottom: auto;
    }

    .contacttext {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .contactbanner {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 645px) {
    ul.fa-ul i {
        display: none;
    }
}
